p { margin: 7px 7px; font-size: 13px; }
.currency_address { background-color: #183e7a; color: #ffffff; padding: 10px 15px; text-align: center; }
.currency_address a { color: #ffffff; text-decoration: none; font-size: 13px; cursor: pointer; }
.dialog-content { text-align: center; overflow-y: hidden; }
.mat-raised-button.pad-less { line-height: 24px; }