<ul class="cards-grids">
  <li *ngFor="let item of balance?.data">
    <a routerLink="/settings/investment-transactions">
      <mat-card class="example-card">
        <mat-card-header>
          <img mat-card-avatar [src]="item?.coin?.icon" class="example-header-image" />
          <mat-card-title>{{ item?.coin?.name }}</mat-card-title>
          <mat-card-subtitle>{{ item?.balance }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </li>
  <li *ngFor="let item of balance?.pending">
    <a routerLink="/settings/investment-pools">
      <mat-card class="example-card">
        <mat-card-header>
          <img mat-card-avatar [src]="item?.coin?.icon" class="example-header-image" />
          <mat-card-title>Pending {{ item?.coin?.name }}</mat-card-title>
          <mat-card-subtitle>${{ item?.balance }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </li>
</ul>